body {
    background-color: rgb(131, 228, 191);
  }
  h1 {
    color: red;
  }
  p {
    color: blue;
  }
  button:hover{
      color: black;
      background-color: rgb(110, 110, 230);
      text-decoration: white;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  